DATABASE_URL=postgresql+asyncpg://postgres:postgres@host.docker.internal:15432/flexibility
CELINE_OIDC_BASE_URL=http://keycloak.celine.localhost/realms/celine
CELINE_OIDC_JWKS_URI=http://keycloak.celine.localhost/realms/celine/protocol/openid-connect/certs
CELINE_OIDC_AUDIENCE=svc-flexibility
LOG_LEVEL=INFO
